<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602124595117-q616nn4cuhf6eeingakcpi931idl4m54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602124595117-q616nn4cuhf6eeingakcpi931idl4m54</string>
	<key>API_KEY</key>
	<string>AIzaSyD-z79QnV7-6aOWruxaNP9GEct4QjM-tCM</string>
	<key>GCM_SENDER_ID</key>
	<string>602124595117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.indiepunk.AndroidMaker</string>
	<key>PROJECT_ID</key>
	<string>androidmakerserver</string>
	<key>STORAGE_BUCKET</key>
	<string>androidmakerserver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602124595117:ios:ebd8e6dbcde99781523b24</string>
	<key>DATABASE_URL</key>
	<string>https://androidmakerserver-default-rtdb.firebaseio.com</string>
</dict>
</plist>